.head {
  padding: 15px;
  position: relative;
  background-color: #06080a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.logo__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.logo {
  width: 30px;
}
.header__input {
  margin-right: 10px;
  outline: none;
  padding-left: 10px;
  width: 300px;
  height: 30px;
  background-color: transparent;
  border: 0.5px solid #ffffff50;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
}
.header__input::placeholder {
  color: #ffffff50;
}
.header__button {
  cursor: pointer;
  width: 55px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 14px;
  color: #0d1117;
  transition: all 0.3s;
}
.header__button:hover {
  background-color: #d1d1d1;
  border: 1px solid #d1d1d1;
  color: #0d1117;
}
.filters {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #06080a;
}

.filters__content {
  display: flex;
  gap: 10px;
}
.filters__block {
  cursor: pointer;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 14px;
  color: #0d1117;
  transition: all .3s;
}
.filters__block:hover {
  background-color: #cbcbcb;
  border: 1px solid #cbcbcb;
}
.filter {
  padding: 5px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: 0.5px solid #ffffff50;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff50;
  transition: all .3s;
}
.activeButton {
  padding: 5px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;;
  border-radius: 5px;
  font-size: 14px;
  transition: all .3s;
  border: 0.5px solid #ffffff;
  color: #ffffff;
}
.filter:hover {
  border: 0.5px solid #ffffff;
  color: #ffffff;
}
.profiles {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.button {
  padding: 5px;
  background-color: transparent;
  color: #ffffff70;
  border: 0.5px solid #ffffff70;
  border-radius: 5px;
  transition: all 0.3s;
}
.button:hover {
  background-color: #ffffff70;
  color: #ffffff;
  border: 0.5px solid #ffffff10;
}
.button:active {
  transform: scale(0.99);
}
.button.disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}
.pagination {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.pagination span {
  text-align: center;
  width: 20px;
  color: #ffffff70;
}
