.head {
  padding: 15px;
  position: relative;
  background-color: #06080a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.logo__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.logo {
  width: 30px;
}
.header__input {
  margin-right: 10px;
  outline: none;
  padding-left: 10px;
  width: 300px;
  height: 30px;
  background-color: transparent;
  border: 0.5px solid #ffffff50;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
}
.header__input::placeholder {
  color: #ffffff50;
}
.header__button {
  cursor: pointer;
  width: 55px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 14px;
  color: #0d1117;
  transition: all 0.3s;
}
.header__button:hover {
  background-color: #d1d1d1;
  border: 1px solid #d1d1d1;
  color: #0d1117;
}
.filters {
  padding: 15px;
  display: flex;
  align-items: center;
  background-color: #06080a;
}
.filters__block {
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 14px;
  color: #0d1117;
}
.profiles {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
